<div data-role="page">
<p id="notice"><%= notice %></p>
  <div data-role="header">
<h1>Lista de usuarios</h1>
  </div>

<div data-role="content">
<table>
  <tr>
    <th>Nombres y Apellidos</th>
    <th>Cuenta de Twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.tweet %></td>
    <td><%= link_to 'Mostrar', usuario %></td>
    <td><%= link_to 'Modificar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Eliminar', usuario, confirm: 'Estas seguro de eliminar este registro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear nuevo Usuario', new_usuario_path %>
    
</div>