<p id="notice"><%= notice %></p>

<p>
  <b>Nombres y Apelledios:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Cuenta de Twitter:</b>
  <%= @usuario.tweet %>
</p>


<%= link_to 'Modificar', edit_usuario_path(@usuario) %> |
<%= link_to 'Regresar', usuarios_path %>
