<div data-role="page">
<p id="notice"><%= notice %></p>
  <div data-role="header">
    <h1>Lista de Libros</h1>
  </div>

<div data-role="content">

<table>
  <tr>
    <th>Titulo</th>
    <th>Fecha prestamo</th>
     <th>Usuario Twiteer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @libros.each do |libro| %>
  <tr>
    <td><%= libro.titulo %></td>
    <td><%= libro.fechaprestamo %></td>
    <td><%= libro.usuario.nombre %></td>
    <td> <%if (Time.now) >= (libro.fechaprestamo)%>
  <%= link_to 'Enviar Notificación al usuario', message_libro_path(libro) %>
  <%end%>
    </td>
    <td><%= link_to 'Mostrar', libro %></td>
    <td><%= link_to 'Modificar', edit_libro_path(libro) %></td>
    <td><%= link_to 'Eliminar', libro, confirm: ' Estas segurode eliminar este registro?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'Registar un Libro', new_libro_path %>
</div>
