<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @libro.titulo %>
</p>

<p>
  <b>Fechaprestamo:</b>
  <%= @libro.fechaprestamo %>
</p>

<p>
  <b>Cantidaddias:</b>
  <%= @libro.cantidaddias %>
</p>

<p>
  <b>Usuario:</b>
  <%= @libro.usuario.nombre %>
    
</p>


<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
